<form name="SearchForm" asp-action="Search" asp-controller="HangHoa">
    <div class="input-group w-100 mx-auto d-flex">
        <input name="query" type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
        <span onclick="SearchForm.submit()" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
    </div>
</form>
